<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Tech - Artificial Intelligence</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <div>
        <h1>Client Informations:</h1>
        <h2 id="demo"></h2>
        <h2>IP Address: <%= info.ip %></h2>
        <h2>Timezone: <%= info.timezone %></h2>
        <h2>Region: <%= info.region %></h2>
        <h2>Country: <%= info.country %></h2>
        <h2>City: <%= info.city %></h2>
        <ul>
            <li><h2>City: <%= info.ll[0] %></h2></li>
            <li><h2>City: <%= info.ll[1] %></h2></li>
        </ul>
        <p>(Saved on Adrien DUMONT Database)</p>
    </div>
</body>
</html>